{{- $page := .page -}}
{{ partial "content/breadcrumbs.html" $page }}
<article class="post">
	<h1>{{ $page.Title }}</h1>
	{{ partial "content/meta.html" $page }}

{{ if $page.Params.toc }}{{ $page.TableOfContents }}{{ end }}

	<div class="entry">
		{{ $page.Content }}
	</div>
</article>

{{- $related := first 3 ($page.Site.RegularPages.Related $page) -}}
{{- with $related }}
<aside class="related" aria-labelledby="related-pages-heading">
	<h2 id="related-pages-heading">{{ i18n "relatedPages" }}</h2>
	<ul>
		{{- range . }}
		<li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
		{{- end }}
	</ul>
</aside>
{{- end }}

{{ if or $page.NextInSection $page.PrevInSection }}
<nav class="pagination" aria-label="{{ i18n "articleNavigation" }}">
	{{ with $page.NextInSection }}
	<span class="left">
		<a href="{{ .RelPermalink }}">&#12298; {{ .LinkTitle }}</a>
	</span>
	{{ end }}
	{{ with $page.PrevInSection }}
	<span class="right">
		<a href="{{ .RelPermalink }}">{{ .LinkTitle }} &#12299;</a>
	</span>
	{{ end }}
</nav>
{{ end }}
