{{- $isAMP := .isAMP -}}
{{- with .page -}}
	<header class="masthead clearfix">
		<div class="container">
			{{ with .Site.Params.Logo }}
			{{ $logo := partial "images/resolve.html" (dict "page" $.page.Site.Home "destination" .) }}
			<a href="{{ $.page.Site.BaseURL }}" class="site-avatar">
				{{ if $isAMP }}<amp-img src="{{ $logo.src }}" width="70" height="70" layout="responsive" alt="{{ $.page.Site.Title }}"></amp-img>{{ else }}<img src="{{ $logo.src }}" width="70" height="70" alt="{{ $.page.Site.Title }}">{{ end }}
			</a>
			{{ end }}

			<div class="site-info">
				{{ if .IsHome }}<h1 class="site-name">{{ else }}<p class="site-name">{{ end }}
					<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
				{{ if .IsHome }}</h1>{{ else }}</p>{{ end }}
				{{ with .Site.Params.Description }}
				<p class="site-description">{{ . }}</p>
				{{ end }}
			</div>

			{{ with .Site.Menus.main }}
			<nav>
				{{ range .ByWeight }}
				<a href="{{ .URL }}">{{ .Name }}</a>
				{{ end }}
			</nav>
			{{ end }}
		</div>
	</header>
{{- end -}}
