{{- if ne .Kind "404" -}}
	{{- $canonical := partial "templates/canonical.html" . -}}
	{{- $type := partial "templates/schema-type.html" . -}}
	{{- $isArticle := in (slice "BlogPosting" "Article" "NewsArticle") $type -}}
	{{- $name := .Title -}}
	{{- if .IsHome -}}{{- $name = .Site.Title -}}{{- end -}}
	{{- $schema := dict
		"@context" "https://schema.org"
		"@type" $type
		"@id" $canonical
		"url" $canonical
		"name" $name
		"inLanguage" (.Site.LanguageCode | default .Site.Language.Lang)
	-}}
	{{- with partial "templates/description.html" . -}}
		{{- $schema = merge $schema (dict "description" .) -}}
	{{- end -}}
	{{- if $isArticle -}}
		{{- $schema = merge $schema (dict "headline" .Title "mainEntityOfPage" (dict "@type" "WebPage" "@id" $canonical)) -}}
	{{- end -}}
	{{- if .IsPage -}}
		{{- with partial "templates/author.html" . -}}
			{{- $schema = merge $schema (dict "author" .) -}}
		{{- end -}}
		{{- $dates := partial "templates/dates.html" . -}}
		{{- with $dates.published -}}{{- $schema = merge $schema (dict "datePublished" (.Format "2006-01-02T15:04:05-07:00")) -}}{{- end -}}
		{{- with $dates.modified -}}{{- $schema = merge $schema (dict "dateModified" (.Format "2006-01-02T15:04:05-07:00")) -}}{{- end -}}
	{{- end -}}
	{{- with partial "templates/thumb.html" . -}}
		{{- $schema = merge $schema (dict "image" (slice .)) -}}
	{{- end -}}
	{{- /* Only assert a publisher when the site explicitly provides one. */ -}}
	{{- with .Site.Params.publisher -}}
		{{- with .name -}}
			{{- $publisher := dict "@type" "Organization" "name" . -}}
			{{- with $.Site.Params.publisher.url -}}{{- $publisher = merge $publisher (dict "url" (. | absURL)) -}}{{- end -}}
			{{- with $.Site.Params.publisher.logo -}}
				{{- $image := partial "images/resolve.html" (dict "page" $.Site.Home "destination" .) -}}
				{{- if $image.found -}}{{- $publisher = merge $publisher (dict "logo" (dict "@type" "ImageObject" "url" $image.absoluteURL)) -}}{{- end -}}
			{{- end -}}
			{{- $schema = merge $schema (dict "publisher" $publisher) -}}
		{{- end -}}
	{{- end }}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
	{{- $breadcrumbs := partial "templates/breadcrumbs.html" . -}}
	{{- if gt (len $breadcrumbs) 1 -}}
		{{- $items := slice -}}
		{{- range $index, $item := $breadcrumbs -}}
			{{- $items = $items | append (dict "@type" "ListItem" "position" (add $index 1) "name" $item.name "item" $item.url) -}}
		{{- end -}}
		{{- $breadcrumbSchema := dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $items }}
<script type="application/ld+json">{{ $breadcrumbSchema | jsonify | safeJS }}</script>
	{{- end -}}
{{- end }}
