{{ define "main" }}
{{ partial "content/breadcrumbs.html" . }}
{{ if .IsHome }}
	{{ if ne .Title .Site.Title }}<h2 class="list-title">{{ .Title }}</h2>{{ end }}
{{ else }}
	<h1 class="list-title">{{ .Title }}</h1>
{{ end }}
{{ with .Content }}<div class="list-intro entry">{{ . }}</div>{{ end }}

{{ $isAMP := false }}
{{ with .OutputFormats.Get "AMP" }}{{ $isAMP = eq $.RelPermalink .RelPermalink }}{{ end }}
{{ $paginator := partial "templates/paginator.html" . }}
{{ with $paginator }}
<div class="posts">
	{{ range .Pages }}
	<article class="post">
		<h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
		{{ partial "content/meta.html" . }}
		{{ $summary := .Summary }}
		{{ $summaryText := $summary | plainify | strings.TrimSpace }}
		{{ if $summaryText }}
		<div class="entry">{{ if $isAMP }}<p>{{ $summaryText }}</p>{{ else }}{{ $summary }}{{ end }}</div>
		{{ else }}
			{{ with partial "templates/description.html" . }}<div class="entry"><p>{{ . }}</p></div>{{ end }}
		{{ end }}
		<a href="{{ .RelPermalink }}" class="read-more">{{ i18n "readMore" (dict "Title" .LinkTitle) }}</a>
	</article>
	{{ end }}
</div>

{{ if gt .TotalPages 1 }}
<nav class="pagination" aria-label="{{ i18n "pagination" }}">
	{{ if .HasPrev }}
	<span class="left">
		<a href="{{ .Prev.URL }}" class="prev">&#12298; {{ i18n "previousPage" }}</a>
	</span>
	{{ end }}
	{{ if .HasNext }}
	<span class="right">
		<a href="{{ .Next.URL }}" class="next">{{ i18n "nextPage" }} &#12299;</a>
	</span>
	{{ end }}
</nav>
{{ end }}
{{ end }}
{{ end }}
